$coffees-padding: 10px;
$coffees-actions-padding: 20px;
$coffees-table-side-padding: 80px;

$coffees-row-border-width: 1px;

$coffees-row-border-color: #999;
$coffees-row-stripe-color: #F0F0F0;
$coffees-row-hover-color: #DDD;

$coffees-title-fontsize: 30px;

.Coffees {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: $coffees-padding 0;
}

.Coffees-title {
  padding-bottom: $coffees-padding;

  font-size: $coffees-title-fontsize;
}

.Coffees-table {
  border-collapse: collapse;
}

.Coffees-header {
  > th {
    padding: 0.5rem 1.5rem;
    text-align: center;
  }

  > th:first-child {
    padding-left: $coffees-table-side-padding;
  }

  > th:last-child {
    padding-right: $coffees-table-side-padding;
  }
}

.Coffees-row {
  border: solid $coffees-row-border-color;
  border-width: $coffees-row-border-width 0;

  &:nth-of-type(2n+1) {
    background-color: $coffees-row-stripe-color;
  }

  &:hover {
    background-color: $coffees-row-hover-color;
    cursor: pointer;
  }

  > td {
    padding: 0.5rem 1.5rem;
    text-align: center;
  }

  > td:first-child {
    padding-left: $coffees-table-side-padding;
  }

  > td:last-child {
    padding-right: $coffees-table-side-padding;
  }
}

.Coffees-actions {
  padding-top: $coffees-actions-padding;
}
