$page-title-padding: 20px;
$page-title-fontsize: 60px;

.Page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Page-title {
  padding: $page-title-padding;

  font-size: $page-title-fontsize;
  line-height: $page-title-fontsize;
  text-align: center;
}
