$user-padding: 10px;
$user-text-padding: 6px;
$user-text-fontsize: 36px;
$user-actions-width: 200px;
$user-warn-color: #D9534F;

.User-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  padding: $user-padding 0;
}

.User-line {
  display: flex;
  align-items: center;

  padding: $user-padding;
}

.User-text {
  padding: $user-text-padding $user-padding;

  font-size: $user-text-fontsize;
  margin: 0;
}

.User-coffees {
  cursor: pointer;
}

.User-actions {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: $user-actions-width;
  padding: $user-padding 0;
}

.User-action {
  padding: $user-padding;
}

.User--warn {
  color: $user-warn-color;
}
