$user-padding: 10px;
$user-text-padding: 6px;
$user-text-fontsize: 36px;
$user-actions-width: 200px;
$user-warn-color: #D9534F;

.User-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  padding: $user-padding 0;
}

.User-line {
  display: flex;
  align-items: center;

  padding: 0 $user-padding;
}

.User-text {
  padding: $user-text-padding $user-padding;

  font-size: $user-text-fontsize;
  margin: 0;
}

.User-orders {
  cursor: pointer;
}

.User-money {
  width: $user-actions-width;
}

.User-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 500px;
}

.User-product {
  padding: 10px;

  > .btn {
    width: 140px;
  }
}

.User-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.User-action {
  padding: $user-padding;
}

.User--warn {
  color: $user-warn-color;
}
