$users-table-side-padding: 60px;
$users-row-border-width: 1px;
$users-row-border-color: #999;
$users-row-stripe-color: #F0F0F0;
$users-row-hover-color: #DDD;

.Users {
  padding: 10px 0px;
}

.Users-table {
  border-collapse: collapse;
}

.Users-header {
  > th {
    padding: 0.5rem 1.5rem;
    text-align: center;
  }

  > th:first-child {
    padding-left: $users-table-side-padding;
  }

  > th:last-child {
    padding-right: $users-table-side-padding;
  }
}

.Users-row {
  border: solid $users-row-border-color;
  border-width: $users-row-border-width 0;

  &:nth-of-type(2n+1) {
    background-color: $users-row-stripe-color;
  }

  &:hover {
    background-color: $users-row-hover-color;
    cursor: pointer;
  }

  > td {
    padding: 0.5rem 1.5rem;
    text-align: center;
  }

  > td:first-child {
    padding-left: $users-table-side-padding;
  }

  > td:last-child {
    padding-right: $users-table-side-padding;
  }
}
