.User-info {
  display: flex;
  align-items: center;

  padding: 10px 0px;
}

.User-line {
  display: flex;
  align-items: center;

  padding: 10px;
}

.User-text {
  padding: 10px;

  font-size: 40px;
}

.User-actions {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px 0px;
}

.User-action {
  padding: 10px;
}
